.navbar{
	background-color: rgb(165, 165, 165);
	border: 1px solid rgb(165, 165, 165); 
}


.active{
	
	font-style: italic;
	font-size: 19px;
 ;
	
}
.rectTop{
	background-color: rgb(116, 96, 60);
	position: absolute;
	top: 100px;
	left: 30px;
	
}
.rectBottom{
		background-color: rgb(116, 96, 60);
	position: absolute;
	top: 884px;
	left: 0px;
	
	
}
body{
	background-color:  rgb(165, 165, 165);
}

img{
	position: relative;
	left: 190px;
}
.bottomleft{
    position: absolute;
	font-family: apajarita;
      src: url('/apajarita.ttf');
	  font-size: 16px;
	  
}
.bottomRight{
	font-family: apajarita;
      src: url('/apajarita.ttf');
	
	  font-size: 16px;
}
.rectPic1{
	background-color: rgb(116, 96, 60);
	position: absolute;
	top: 215px;
	left: 795px;
}
.rectPic2{
	background-color: rgb(135, 114, 61);
	position: absolute;
	top: 570px;
	left: 115px;
}
.homeMainText{
	font-size: 20px;
	color: rgb(80, 67, 36);
	font-family: Bookman Old Style;
}

.rectPic1_about{
	background-color: rgb(116, 96, 60);
	position: absolute;
	top: 235px;
	left: 75px;
}
.rectTop{
	background-color: rgb(116, 96, 60);
	position: absolute;
	top: 100px;
	left: 30px;
	
}
.rectBottom{
		background-color: rgb(116, 96, 60);
	position: absolute;
	top: 884px;
	left: 0px;
	
	
}
body{
	background-color:  rgb(165, 165, 165);
}

img{
	position: relative;
	left: 190px;
}
.bottomleft{
	font-family: apajarita;
      src: url('/apajarita.ttf');
	  font-size: 16px;
	  
}
.bottomRight{
	font-family: apajarita;
      src: url('/apajarita.ttf');
	
	  font-size: 16px;
}
.aboutMainText_about{
font-size: 22px;
font-family: Bookman Old Style;
color: rgb(255, 230, 153)
}

.rectText{
	background-color: rgb(116, 96, 60);
	position: absolute;
	top: 220px;
	left: 600px;
	
}

.Table{
	position: absolute;
	top: 220px;
	left: 100px;
}
.TableHeader{
	text-align: center;
	font-size: 22px;
}


.PriceText{
	font-size: 44px;
	font-family: Bookman Old Style;
}
.r1c1{
	background-color: rgb(116, 96, 60);
}
.r2c1{
		background-color: rgb(135, 114, 61);
}
.r2c2{
	background-color: rgb(80, 67, 36);
	color: rgb(255, 230, 153)
}

.r3c1{
		background-color: rgb(135, 114, 61);
}
.r3c2{
	background-color: rgb(80, 67, 36);
	color: rgb(255, 230, 153)
}

.r4c1{
		background-color: rgb(135, 114, 61);
}
.r4c2{
	background-color: rgb(80, 67, 36);
	color: rgb(255, 230, 153)
}

.Table h1{
	text-align: center;
	color: whitesmoke;
}

.Table p{
	font-size: 18px;
	font-family: Bookman Old Style;
}

.rectTable{
	position: absolute;
	top: 290px;
	left: 200px;
		background-color: rgb(80, 67, 36);
	
}
.rectPic1_menu{
	position:absolute;
	top: 235px;
	left: 765px;
background-color: rgb(80, 67, 36);
}


.navbar{
	background-color: rgb(165, 165, 165);
	border: 1px solid rgb(165, 165, 165); 
}


.active{
	
	font-style: italic;
	font-size: 19px;
	
}
.mapTextRect{
	background-color: rgb(255, 230, 153);
	position: absolute;
	top: 190px;
	left: 65px;
}
.rectPic1_contact{
	background-color: rgb(116, 96, 60);
	position: absolute;
	top: 225px;
	left: 65px;
}
.rectTop{
	background-color: rgb(116, 96, 60);
	position: absolute;
	top: 100px;
	left: 30px;
	
}
.rectBottom{
		background-color: rgb(116, 96, 60);
	position: absolute;
	top: 884px;
	left: 0px;
	
	
}
body{
	background-color:  rgb(165, 165, 165);
}

img{
	position: relative;
	left: 190px;
}
.bottomleft{
	font-family: apajarita;
      src: url('/apajarita.ttf');
	  font-size: 16px;
	  
}
.bottomRight{
	font-family: apajarita;
      src: url('/apajarita.ttf');
	
	  font-size: 16px;
}
.aboutMainText_contact{
font-size: 22px;
font-family: Bookman Old Style;
color: rgb(255, 230, 153)
}

.rectText_contact{
	background-color: rgb(116, 96, 60);
	position: absolute;
	top: 220px;
	left: 600px;
	
}
.r1_contact{
	position: absolute;
	top: 300px;
	left: 800px;
}
.mapText_contact{
	font-size: 20px;
	font-family: Bookman Old Style;
}

#gmap_canvas{
    position: absolute;
    top: 230px;
    left: 100px;
}
